/* Add your custom styles here */
.navbar {
    margin-bottom: 0; /* Remove default margin */
  }
  
  .page-heading {
    text-align: center; /* Center the page heading */
  }
  
  .section {
    background-color: #f5f5f5; /* Set the background color for the section */
    min-height: 1000px; /* Set the minimum height for scrolling */
    padding: 20px 0; /* Add some padding to the section */
  }
  